# Entornos virtuales
.venv/
venv/
env/

# Caches de Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno y secretos
.env
*.env

# Logs
*.log

# Modelos serializados pesados
*.pkl
*.joblib

# Archivos de base de datos
*.xlsx

.ipynb_checkpoints/

# Artefactos generados por ft_engineering.py
ft_pipeline.pkl
X_train_processed.csv
X_test_processed.csv
y_train.csv
y_test.csv
datos_produccion_con_drift.csv

# Scripts temporales de prueba que rompen la arquitectura Jenkins
simular_drift.py